body{
    background-image: url("fondo/imagen4.jpg");
}

.jumbotron{
    background-color: #FDE5EC;
    color: purple;
}

.panel-heading{
    background-color: #ACA7AA !important;
    color: #3A0310 !important;
}

.panel-body{
    color: #3E001F !important;
}

.navbar {
    background-color: #FFD0D0;
}

.navbar-brand:link, .navbar-brand:visited {
    color: #8FA6A6 !important;
}

.navbar-brand:hover, .navbar-brand:active {
    color: #6593A6 !important;
}

#navbar li a:link, #navbar li a:visited{
    color: #A78295 !important;
}

#navbar li a:hover, #navbar li a:active{
    color: #8CC0DE !important;
}

.slide {
    margin-top: 10px;
}

.slide img {
    height: 70vh;
}
  
.container-video {
    text-align: center; 
  }

  .card {
    margin-left: auto;
    margin-right: auto;
  }
  